.main_content
    #recipe_top.row
        .col-md-8
            #recipe_info
                %h2= @recipe.title
                %p.description= @recipe.description 
    
    .row
        .col-md-6
            #ingredients
                %h4 Ingredients
                %ul
                    -@recipe.ingredients.each do |ingredient|
                        %li= ingredient.content

    .row
        .col-md-6
            #steps
                %h4 Method
                %ol
                    -@recipe.steps.each do |step|
                        %li= step.direction
.row
    .col-md-12
        = link_to "Back", root_path, class: "btn btn-default"
        = link_to "Edit", edit_recipe_path, class: "btn btn-default"
        = link_to "Delete", recipe_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default"