<!DOCTYPE html>
<html></html>
<head>
  <title>Recipe App</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=> true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track'=> true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to "Recipe App", root_path %>
      </div>
        <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><strong>Signed in as <%= current_user.email %></strong></li>
          <!-- -->
          <li><%= link_to "Recipes", recipes_path %></li>
          <li><%= link_to "New Recipe", new_recipe_path %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Log In", new_user_session_path %></li>
        <% end %>
        </ul>
    </div>
  </nav>
<<<<<<< HEAD
  <div class="container-fluid">
  </div>
  
=======
>>>>>>> ce5bb4c5ced5dfc60c5461e7f9b5220a66c19d22
  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert" %>
    <% end %>
    <%= yield  %>
  </div>
</body>

